:root {
  --body--background-color: white;
  --body--color: #333;

  --font-family--sans: "Verdana", "Tahoma", "Roboto", "Oxygen", "Helvetica Neue", sans-serif;
  --font-family--serif: "Times New Roman", "Georgia","Palatino", serif;
  --body--font-size: 16px;

  --color--morado: #2b1154;
  --color--violeta: #ADA2FF;
  --color--lightblue: #C0DEFF;
  --color--lightpink: #FFE5F1;
  --color--cream: #FFF8E1;
  --color--white: #FFF;
  --color--black: #000;

  --color1: #554994;
  --color2: #F675A8;
  --color3: #F29393;
  --color4: #FFCCB3;
}

.main-color {
  background-color: var(--color--morado);
  color: var(--color--white);
}

.secondary-color {
  background-color: var(--color--violeta);
  color: var(--color--black);
}

.bi {
  font-size: 1.5rem;
}

body {
  font-family: var(--font-family--sans);
  font-size: var(--body--font-size);
  background-color: var(--color--cream);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  border: solid var(--color1);
  border-width: 0 10px;

  main {
    flex: 1 auto;
    margin-bottom: 5rem;
  }

  #header-nav {
    padding: 20px 0;

    button {
      margin: 0 20px;
    }

    .bi {
      font-size: 1rem;
    }

  }

  #aboutme {
    img {
      padding: 58px 0 0 58px;
      outline: 8px solid var(--color2);
      outline-offset: -30px;
      transition: .4s;
      cursor: pointer;

      &:hover {
        padding: calc(58px / 2);
      }
    }

    img+img {
      padding: 0 58px 58px 0;
    }

    ul {
      padding: 20px 0;

      a {
        background: var(--color--morado);
        color: var(--color--white);
        margin: 20px 10px;
      }
    }
  }

  #projects {
    li {
      margin: 20px 0;
    }
  }

  footer {
    position: relative;
    bottom: 0;
  }
}


h1 {
  font-size: 1.6rem;
  color: var(--white);
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  margin: 3px;
  padding-bottom: 40px;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 25px;
    width: 150px;
    height: 14px;
    border-radius: 5px;
    transform: skew(-12deg) translateX(-50%) rotate(-2deg);
    background: rgba(109, 0, 172, 0.5);
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 0.6));
  }
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
  margin: 1.4rem 0;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  margin: 1.4rem 0;
  text-decoration: underline;
}

a {
  color: var(--color--morado);
  text-underline-offset: 25%;
}

button,
a {
  &:hover,
  &:focus {
    border-radius: 10px;
    /* inner indicator */
    outline: 2px var(--color--cream) solid !important; 
    outline-offset: 0;
    /* outer indicator */
    box-shadow: 0 0 0 4px var(--color--morado) !important;
  }
}

.separator {
  transform: rotate(180deg) translateX(50%);
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 50%;

  & path {
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
  }
}